@media screen and (max-width: 400px) {
    ul {
        flex-direction: column;
        gap: 20px;
    }

    .tools {
        flex-direction: column;
    }

    .tools input {
        width: 80%;
    }

    .tools button {
        width: 80%;
        justify-content: center;
    }

    #noteList {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
    }


    .notes {
        width: 95%;
    }
}

@media screen and (min-width: 401px) and (max-width: 720px) {}

@media screen and (min-width: 721px) and (max-width: 1280px) {}

@media screen and (min-width: 1281px) and (max-width: 1440px) {}

@media screen and (min-width: 1441px) and (max-width: 1920px) {}

@media screen and (min-width: 1921px) {}