@import url('https://fonts.googleapis.com/css2?family=Hind+Siliguri:wght@300;400;500;600;700&display=swap');


* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
    font-family: 'Hind Siliguri', sans-serif;
}

ul {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #00cec9;
    gap: 0;
    padding: 10px 0;
}

ul h1 {
    color: rgb(255, 255, 255);
    font-size: 30px;
    font-weight: 400;
}

ul li i {
    color: #ffffff;
}

.searchDiv {
    border-bottom: 1px solid rgb(255, 255, 255);

}

.searchDiv input::placeholder {
    color: white;
}

.searchDiv input {
    width: 300px;
    font-size: 20px;
    font-weight: 400;
    height: 25px;
    padding: 0 0 0 3px;
    border: none;
    outline: none;
    background: transparent;
    color: #ffffff;

}

.tools {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    margin: 1rem 0 0 0;

}

.tools input {
    width: 666px;
    padding: 5px 7px;
    border: none;
    border-bottom: 1px solid #00cec9;
    font-size: 15px;
    outline: none;
}

.tools button {
    padding: 5px 10px;
    font-size: 15px;
    background-color: #00cec9;
    border: none;
    border-radius: 5px;
    color: white;
    display: flex;
    gap: 7px;
    align-items: center;
    cursor: pointer;
}

.listFlex {
    display: flex;
    justify-content: center;
    align-items: center;
}

#noteList {
    width: 796.4px;
}



.notes {
    border: 1px solid #00cec9;
    border-radius: 10px;
    width: 200px;
    text-align: center;
    width: calc(100% - 10px);
    margin: 40px 0 0 0;
    text-align: left;
    padding: 0 0 0 10px;

}

.fa-list-check {
    font-size: 15px;
}

.textContent h1 {
    color: #00cec9;
    display: flex;

    align-items: center;
    gap: 10px;
}


.noteIcon {
    font-weight: 500;
    display: flex;
    align-items: center;
    gap: 25px;
    font-size: 14px;
    color: #00cec9;
    cursor: pointer;
    /* width:130px ; */
    transition: 0.5s;
    margin: 10px 0 0 0;
}

.copyBtn {
    position: relative;
}

.copied {
    position: absolute;
    left: 10px;
    top: 0;
    color: #ffffff;
    background-color: #00cecb;
    animation: copy 1s ease-in-out;
    padding: 2px 20px;
    font-size: 10px;
    
    /* -webkit-clip-path: polygon(25% 0%, 100% 0%, 75% 100%, 0% 100%);
clip-path: polygon(25% 0%, 100% 0%, 75% 100%, 0% 100%); */


}

@keyframes copy {
    0% {
        display: inline;
        opacity: 0;
    }
    50% {
        display: inline;
        opacity: 1;
        top: -20px;
    }
    100%{
        opacity: 0;
        top: -20px;
        display: none;
    }
}